<div class="card">
  <div class="card-header">
    Welcome to Tech Blog
  </div>
  <div class="card-body">
    <div class="container">

      <mat-card class="my-card">
        <mat-card-content>
           <form [formGroup]="registrationForm" class="my-form">
              <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Name" name="Name" required>
                <mat-error *ngIf="myError('name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="myError('name', 'maxlength')">Limit exceed</mat-error>
                <mat-hint align="end">Not more then 20 characters long.</mat-hint>
              </mat-form-field>
              <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input formControlName="emailId" matInput  placeholder="Email" name="email" required>
                  <mat-error *ngIf="myError('emailId', 'required')">Email Id is required</mat-error>
                  <mat-error *ngIf="myError('emailId', 'maxlength')">Limit exceed</mat-error>
                  <mat-error *ngIf="myError('emailId', 'email')">Invalid Email Id</mat-error>
                  <mat-hint align="end">Not more then 20 characters long.</mat-hint>
              </mat-form-field>
              <mat-form-field class="full-width">
                 <mat-label>Password</mat-label>
                 <!-- <input type="password" matInput  placeholder="Password" name="password"> -->
                 <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="password" name="password" required>
                 <mat-error *ngIf="myError('password', 'required')">Password is required</mat-error>
                 <mat-error *ngIf="myError('password', 'maxlength')">Limit exceed</mat-error>
                 <mat-hint align="end">Not more then 15 characters long.</mat-hint>
                 <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
           </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="registration()" class="bt-theme">Registration</button>
          <!-- <button mat-raised-button (click)="login()" color="primary">LOGIN</button> -->
        </mat-card-actions>
     </mat-card>

    </div>
  </div>
</div>

<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner  class="mat-spinner-color" mode="indeterminate">
  </mat-progress-spinner>
</div>
