<!-- <nav class='navbar navbar-expand navbar-light bg-light'>
  <div class='nav nav-pills'>
    <div><a class='nav-link' routerLink='/home'>Home</a></div>
    <div><a class='nav-link' routerLink='/blogs'>Blogs</a></div>
    <div><a class='nav-link' routerLink='/addblog'>Add</a></div>
    <div><a class='nav-link' routerLink='/user'>User</a></div>
  </div>
</nav> -->
<mat-toolbar >
  <mat-toolbar-row>
    <!-- <div><a class='nav-link' routerLink='/home'><mat-icon>home</mat-icon></a></div>
    <div><a class='nav-link' routerLink='/blogs'><mat-icon>explore</mat-icon></a></div>
    <div><a class='nav-link' routerLink='/addblog'><mat-icon class="example-icon">add</mat-icon></a></div>
    <div><a class='nav-link' routerLink='/user'><mat-icon class="example-icon">person</mat-icon></a></div> -->

    <a class='nav-link nav-opt' routerLink='/home' mat-list-item >
      <button mat-icon-button><mat-icon title="Home">home</mat-icon></button>
      <!-- <span id="iconName">Home</span> -->
    </a>
    <a class='nav-link nav-opt' routerLink='/blogs' mat-list-item >
      <button mat-icon-button><mat-icon title="Explore">explore</mat-icon></button>
    </a>
    <a class='nav-link nav-opt' routerLink='/addblog' mat-list-item >
      <button mat-icon-button><mat-icon title="Add new Blog">add_circle</mat-icon></button>
    </a>
    <a class='nav-link nav-opt' routerLink='/user' mat-list-item >
      <button mat-icon-button><mat-icon title="Account">person</mat-icon></button>
    </a>


    <span class="example-spacer"></span>
    <a class='nav-link nav-opt' mat-list-item >
      <button mat-icon-button (click)="logOut()" ><mat-icon>exit_to_app</mat-icon></button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div class='container-fluid'>
<router-outlet></router-outlet>
</div>
